/* ! Dev */
#tags{
	display: none;
}


/* ! VARS */

$white: #fff;
$lightGrey: #eceef0;
$mediumLightGrey: #969696;
$mediumDarkGrey: #878b89;

$darkBlueGrey: #293238;
$lightBlueGrey: #4b575e;
$green: #8dc63f;

$otherGrey: #ccd2d7;
$workshopGrey: #ddd;

#white{
	backgrounColor: $white;
}
#lightGrey{
	background-color: $lightGrey;
}
#mediumLightGrey{
	background-color: $mediumLightGrey;
}
#mediumDarkGrey{
	background-color: $mediumDarkGrey;
}
#darkBlueGrey{
	background-color: $darkBlueGrey;	
}
#lightBlueGrey{
	background-color: $lightBlueGrey;
}
#green{
	background-color: $green;	
}
.color{
	height: 100px;
	width: 100px;
	float: left;
}

/* ! MIXINS */
@mixin border_radius ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow ($params){
	-moz-box-shadow: $params;
	-webkit-box-shadow: $params;
	box-shadow: $params;
}
@mixin box_shadow_inner ($params){
	-moz-box-shadow: inset $params;
    -webkit-box-shadow: inset $params;
    box-shadow: inner $params;
}

@mixin text_shadow{
	text-shadow: 2px 2px 0 rgba(0,0,0,.5);
}

@mixin linear_gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@mixin transition($properties, $duration, $easing){
  -webkit-transition: $properties $duration $easing;  /* Safari 3.2+, Chrome */
     -moz-transition: $properties $duration $easing;  /* Firefox 4-15 */
       -o-transition: $properties $duration $easing;  /* Opera 10.5–12.00 */
          transition: $properties $duration $easing;  /* Firefox 16+, Opera 12.50+ */
}

@mixin hidpi($path, $width: auto, $height: auto){
	@media all and (min--moz-device-pixel-ratio: 1.5),
		(o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx){
		background-image: url($path);
		background-size: $width $height;	
	}
}

/* ! RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th{
	width: 33.33%;
}

/* ! CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.clear{
	display: block;
	clear: both;
}

/* ! TYPOGRAPHY */
$smaller: 0.854em;
body{
	/* font-family: Georgia, serif; */
	font-family: Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: $mediumLightGrey;
	line-height: 1.357em;
}
h1, h2, h3, h4{
	/* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	color: $darkBlueGrey;
	margin: 0.3em 0;
	padding: 0.5em 0;
}
h1{
	font-size: 2.881em;
	font-weight: bold;
}

h2{
	/* font-size: 2.25em; */
	font-size: 1.357em;
	font-weight: bold;
	letter-spacing: 0.05em;
}

h3{
	font-size: 1.142em;
	font-weight: bold;
}
p{
	margin: 0.8em 0;
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
/* ! JS */
.template, .hidden{
	display: none;
}
/* ! BASE */
.button{
	width: 11em;
	padding: 0.6em 0.5em 0.5em;
	text-align: center;
	position: absolute;
	height: 1.2em;
	top: 1.8em;
	right: 1.5em;
	display: block;
	/* background-color: $lightgreyish; */
	@include border_radius(1px);
	a{
		display: block;
		text-decoration: none;
		color: white;
	}
}
#slaButton{
	background-color: $green;
}
#workshopsButton{
	background-color: $mediumDarkGrey;
}
#developmentButton{
	background-color: $darkBlueGrey;
}
#container{
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.insideContainer{
	//padding: 1em;
	position: relative;
	max-width: 960px;
	_width: 960px;
	margin: auto;
}
header{
	height: auto;
	background-color: $white;
	@include border_radius(0 -1em 1em )
}

#logo{
	float: left;
	margin-top: 3em;
	margin-left: 1em;
	img{
		width: 191px;
	}
}
#session{
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	width: 13em;
	margin-right: 1em;
	background-color: $lightBlueGrey;
	@include border_radius(0 0 0.3em 0.3em);
	a{
		text-decoration: none;
		color: $darkBlueGrey;
	}
}
.actions{
	clear: right;
	text-align: right;
}
nav{
	float: right;
	margin-bottom: 2em;
}
#nav{
	font-weight: 700;
	position: relative;
	/* float: right; */
	margin-top: 3.5em;
	margin-right: 4em;
	list-style-type: none;
	li{ 
		display: block;
		float: left;
		text-align: center;
		width: 45px;
		height: 45px;
		margin: 0 0.8em;
	}
	a{
		display: block;
		padding-top: 36px;
		font-size: 0.7859;
		text-decoration: none;
		color: $lightBlueGrey;
		&:hover{
			color: $mediumDarkGrey;
		}	
	}
	.active{
		a{
			color: $green;
		}
	}
}
#menuButton{
	display: none;
}
#n_services{
	background: $white url('../img/nav/nav_services.png') no-repeat;
	&:hover{
		background-image: url('../img/nav/hover/nav_services.png');
	}
	&.active{
		background-image: url('../img/nav/active/nav_services.png');
	}
	background-size: 26px 25px;
	background-position: 13px 3px;
}
#n_blog{
	background: $white url('../img/nav/nav_blog.png') no-repeat;
	&:hover{
		background-image: url('../img/nav/hover/nav_blog.png');
	}
	&.active{
		background-image: url('../img/nav/active/nav_blog.png');
	}
	background-size: 23px 25px;
	background-position: 13px 3px;
}
#n_store{
	background: $white url('../img/nav/nav_store.png') no-repeat;
	&:hover{
		background-image: url('../img/nav/hover/nav_store.png');
	}
	&.active{
		background-image: url('../img/nav/active/nav_store.png');
	}
	background-size: 26px 25px;
	background-position: 8px 5px;
}
#n_contact{
	background: $white url('../img/nav/nav_contact.png') no-repeat;
	&:hover{
		background-image: url('../img/nav/hover/nav_contact.png');
	}
	&.active{
		background-image: url('../img/nav/active/nav_contact.png');
	}
	background-size: 29px 21px;
	background-position: 11px 7px;
}
#n_about{
	background: $white url('../img/nav/nav_about.png') no-repeat;
	&:hover{
		background-image: url('../img/nav/hover/nav_about.png');
	}
	&.active{
		background-image: url('../img/nav/active/nav_about.png');
	}
	background-size: 32px 20px;
	background-position: 7px 9px;
}


footer{
	padding: 1em 0;
	position: relative;
	width: 100%;
	background-color: $darkBlueGrey;
	color: $white;
	div{
		margin: 0.33em 0;
	}
	h3{
		color: $white;
		font-size: 1em;
		margin-bottom: 0.66em;
	}
	a{
		color: $green;
	}
}
#contactAndLegalese{
	position: relative;
	float: left;
	/* width: 33%; */
	width: 100%;
}
#social{
	width: 50%;
	a{
		width: 20%;
		display: block;
		float: left;
	}
	img{
		width: 16px;
	}
}
#tweets{
	position: relative;
	float: left;
	/* width: 66%; */
}

.tweetTime{
	color: $mediumLightGrey;
}

/* ! LOGIN */
#login{
	login_dropdown{
		display: block !important;
	}
}

/* ! INDEX */

#pic{
	height: 18em;
	background-color: $lightGrey;
	clear: both;
}
.section{
	position: relative;
	padding: 3em 3em;
	border-bottom: 1px solid $lightGrey;
	clear: both;
}
.leadIn{
	 color: $mediumDarkGrey;
}
#intro{
	text-align: center;
	h2{
		font-size: 1.921em;
		font-weight: normal;
		color: $lightBlueGrey;
	}
}
#sla{
	h3{
		padding-left: 1.4em;
		background-repeat: no-repeat;
		background-size: 1.142em;
		background-position-y: 0.4em;
		/* font-size: 1.3em; */
	}
}
.slas{
	width: 30%;
	float: left;
	margin: 2em 0;
}
.quickResponse{
	background-image: url('../img/s_quick.png');
}
.monthlyReporting{
	background-image: url('../img/s_reporting.png');
}
.monitoring{
	background-image: url('../img/s_monitoring.png');
}
.crashPlan{
	background-image: url('../img/s_crashplan.png');
}
.helpdeskAccess{
	background-image: url('../img/s_helpdesk.png');
}
.kerioConnect{
	background-image: url('../img/s_kerio.png');
}


#services{
	#development{
		h2{
			color: $white;
		}
	}
	#workshops{
		background-color: $workshopGrey;
		img{
			display: block;
			float: left;
			clear: both;
			margin-bottom: 1em;
			margin-top: 2em;
		}
	}
}
#w_icons{
	width: 352px;
	margin-right: 1.65em;
	float: left;
}
#development{
	h2{
		letter-spacing: 0.06em;
	}
	img{
		float: right;
		padding-left: 1em;
	}
}
#devText{
	float: left;
	width: 50%;
}
#d_devices{
	width: 388px;
	margin-top: 7em;
}

/* ! SERVICES */
#services{
	p, h2, h3{
		margin-left: 15px;
		margin-right: 15px;
	}
	h2{
		margin-top: 0;
		padding-top: 2em;
	}
}
#support{
	background-color: $otherGrey;
}
table{
	@include border_radius(3px);
	width: 70%;
	margin: 2em 15%;
	background-color: $white;
	thead{
		padding: 0.5em 0;
	}
	thead th{
		@include border_radius(3px);
		padding-bottom: 1em;
	}
}
.odd{
	background-color: $lightGrey;
}
thead{
	.title{
		color: $darkBlueGrey;
		/* font-size: 1.921em; */
		font-size: 1.2em;
		font-weight: bold;
		padding: 0.5em;
	}
}
span.title{
	margin-top: 0.3em;
	display: block;
}
td{
	text-align: center;
	img{
		height: 20px;
		margin-top: 0.5em;
	}
}
tr{
	border-bottom: 1px solid;
}
tr{
	height: 2.5em;
}
th, td{
	border-right: 1px solid $darkBlueGrey;
	&.last{
		border-right: none;
	}
}
#essential, #security{
	width: 48%;
	float: left;
}
#security{
	margin-left: 4%;
}
#adhoc{
	clear: left;
	margin: 2em 0;
}
#mobile{
	margin: 2em 0; 
}

#gettingStarted{
	padding-bottom: 2em;
	background-color: $lightBlueGrey;
	color: $white;
	tbody th{
		color: $mediumDarkGrey;
	}
	h2{
		color: $white;
		letter-spacing: 0.06em;
	}
	p{
		color: $otherGrey;
	}
}
#services #development{
	background-color: $green;
	img{
		float: none;
	}
}

/* ! SIDEBAR */
#sideNav{
	position: fixed;
	right: 0;
	top: 260px;
	z-index: 1;
	width: 75px;
	height: 302px;
	background-color: $white;
	@include border_radius(3px 0 0 3px);
	font-size: 0.7857em;
}
.sideNavButton{
	display: block;
	float: left;
	width: 75px;
	height: 75px;
	border-bottom: 1px solid $lightBlueGrey;
	text-align: center;
	@include transition(all, 0.3s, ease);
	font-weight: 700;
	&.last{
		border: none;
	}
	&.active{
		a{
			color: $white;
			font-weight: 600;
		}
	}
	a{
		@include transition(all, 0.3s, ease);
		padding-top: 50px;
		color: $lightBlueGrey;
		text-decoration: none;
		display: block;
		clear: left;
	}
}
#sn_support{
	background: url('../img/sideNav/support.png') no-repeat;
	&.active{
		background-color: $lightBlueGrey;
		background-image: url('../img/sideNav/a_support.png');
	}
	background-size: 26px 21px;
	background-position: 24px 22px;
}
#sn_services{
	background: url('../img/sideNav/service.png') no-repeat;
	&.active{
		background-color: $lightBlueGrey;
		background-image: url('../img/sideNav/a_service.png');
	}
	background-size: 21px 21px;
	background-position: 26px 20px;

}
#sn_workshops{
	background: url('../img/sideNav/workshop.png') no-repeat;
	&.active{
		background-color: $lightBlueGrey;
		background-image: url('../img/sideNav/a_workshop.png');
	}
	background-size: 22px 21px;
	background-position: 26px 20px;
}
#sn_development{
	background: url('../img/sideNav/develop.png') no-repeat;
	&.active{
		background-color: $lightBlueGrey;
		background-image: url('../img/sideNav/a_develop.png');
	}
	background-size: 23px 21px;
	background-position: 25px 21px;
}

/* ! BLOG */
#blogPosts{
	position: relative;
	width: 58%;
	padding: 0 3%;
	float: left;
	border-top: 1px solid $lightGrey;
	border-right: 1px solid $lightGrey;
	
}
.blogPost{
	border-bottom: 1px solid $lightGrey;
	position: relative;
	img, video, iframe{
		margin: 2em auto;
		max-width: 100%;
		_width: 100%;
		border: 1px solid $lightGrey;
	}
}
.metadata{
	font-size: $smaller;
	width: 100%;
}
.pubDate, .author, .tags{
	line-height: 1.7;
	height: 2em;
	padding-left: 2em;
	display: block;
	float: left;
	overflow: hidden;
}
.pubDate{
	background: url('../img/blog/date.png') no-repeat;
	width: 9em;
}
.author{
	background: url('../img/blog/author.png') no-repeat;
	width: 7em;
}
.tags{
	background: url('../img/blog/tag.png') no-repeat;
	width: auto;
}
.postContent{
	padding: 0.8em 0;
}
#aside{
	border-top: 1px solid $lightGrey;
	display: block;
	float: left;
	width: 34%;
}
#blog_social{
	margin-top: 2em;
	border-top: 1px solid $lightGrey;
	border-bottom: 1px solid $lightGrey;
	a{
		display: block;
		width: 16.66%;
		float: left;
		text-align: center;
		padding: 0.5em 0 0.1em;
	}
	img{
		width: 24px;
	}
}

#latestArticles{
	margin-left: 1em;
	a{
		display: block;
		color: $mediumLightGrey;
		text-decoration: none;
		margin-bottom: 0.3em;
		font-size: $smaller;
	}
}
a.tagCloudTag{
	display: block;
	float: left;
	text-decoration: none;
	font-size: $smaller;
	color: $lightBlueGrey;
	margin: 0.2em;
	padding: 0.3em;
	@include border_radius(3px);
	background-color: $lightGrey;
}



/* ! CONTACT */
#contactForm{
	background-color: $lightGrey;
}
form{
	span{
		color: $green;
	}
	position: relative;
	width: 90%;
	margin: auto 5%;
	.inputDiv{
		position: relative;
		width: 45%;
		margin: auto 2.5%;
		float: left;
	}
	label, input{
		float: left;
		width: 100%;
	}
	label{
		padding: 0.5em 0;
		margin-top: 2em;
		font-weight: bold;
		font-size: 1.2em;
		color: $darkBlueGrey;
	}
	input{
		height: 1.5em;
		font-size: 1.2em;
	}
	textarea{
		width: 95%;
		height: 15em;
		margin: auto 2.5%;
	}
	input, textarea{
		@include border_radius(3px);
		border: 1px solid $mediumLightGrey;
	}
	#messageLabel{
		display: block;
		margin-left: 2.5%;
	}
	#submit{
		float: none;
		width: 7em;
		background-color: $lightBlueGrey;
		font-size: $smaller;
		color: $white;
		height: 3em;
		margin: 2.5% 2em;
		border: $lightBlueGrey;
	}
}
#maps{
	margin: auto;
	position: relative;
	width: 90%;
	.metadata{
		display: block;
		float: left;
		height: 2em;
		width: auto;
		/* background-size: 9px 9px; */
	}
	margin-bottom: 5em;
}
.mapContainer{
	position: relative;
	width: 45%;
	float: left;
	margin: auto 2.5%;
	.map{
		height: 300px;
		margin-bottom: 7em;
	}
}
.address{
	background: url('../img/pin.png') no-repeat;
	background-size: 0.61em 1em;
	padding-left: 1em;
}
.phone{
	margin-left: 1.5em;
	background: url('../img/tel.png') no-repeat;
	background-size: 1em 1em;
	padding-left: 1.5em;
}

/* ! ABOUT */
#wereYaska{
	background-color: $darkBlueGrey;
	color: $white;
	h1{
		font-size: 1.3em;
		color: $white;
	}
	img{
		float: left;
		max-width: 30%;
		_width: 50%;
		margin: 7em 10%;
	}
}
#aboutUsText{
	margin: 2em auto;
	float: left;
	width: 45%;
	margin-left: 5%;
}
.person{
	float: left;
	text-align: center;
	width: 25%;
	margin: 2em 0;
	img{
		width: 150px;
	}
	span{
		display: block;
	}
	.name{
		color: $darkBlueGrey;
		font-weight: bold;
	}
}
/* ! MEDIA QUERIES */

/* ! WIDE */
#crashplan{
	clear: left;
}

#quickresponse, #monthlyreporting, #crashplan, #helpdeskaccess{
	margin-right: 5%;
}
.mobile{
	display: none;	
}
@media all and (max-width: 1095px) {
    /* styles for narrow desktop browsers and iPad landscape */
    #sideNav{
	    display: none;
    }
    
}

@media all and (max-width: 1024px) {
    /* styles for narrow desktop browsers and iPad landscape */
    
}
@media all and (max-width: 1024px) {
	.metadata.phone{
		clear: left;
		margin-left: 0; 
	}
}
@media all and (max-width: 920px) {
	#devText{
		width: 100%;
	}
	#development{
		img{
			float: none;
			display: block;
			margin: auto;
			padding-top: 1.5em;
		}
	}
}
@media all and (max-width: 768px) {
	.button{
		/* right: 0; */
		right: 1em;
	}
	.slas{
		width: 48%;
	}
	#crashplan{
		clear: none;
	}
	#monitoring, #helpdeskaccess{
		clear: left;
	}
	#quickresponse, #monitoring, #helpdeskaccess{
		margin-right: 4%;
	}
	#monthlyreporting, #crashplan{
		margin-right: 0;
	}
	#workshops{
	    p{
		    clear: both;
	    }
    }
    #w_icons{
	    width: 70%;
	    margin: auto 15%;
    }
    #workShopsPs{
	    clear: both;
	    padding-top: 2em;
    }
    
    #development{
	    img{
	    	padding-top: 1.5em;
	    	float: none;
		    width: 70%;
		    margin: auto 15%;
	    }
	    #devText{
		    width: 100%;
		    float: none;
	    }
    }
}

@media all and (max-width: 660px) {
	.mapContainer{
		width: 90%;
	}
}
@media all and (max-width: 660px) {
	header{
		position: fixed;
		z-index: 1;
		width: 100%;
		@include box_shadow(0 0 0.3em $darkBlueGrey);
	}
	#logo{
		margin-right: 2em;
		margin-top: 0.5em;
	}
	#menuButton{
		margin: 1.6em 2em 0 0;
		position: absolute;
		right: 0;
		display: block;
		img{
			width: 20px;
			height: 16px;
		}
	}
	nav{
		width: 100%;
		margin-bottom: 0.5em;
	}
	#nav{
		padding-bottom: 0.8em;
		@include box_shadow(0 0 0.3em $darkBlueGrey);
		background-color: white;
		display: none;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 1;
		li{
			margin: 0;
			width: 20%;
		}
		#n_services, #n_blog, #n_store, #n_contact, #n_about{
			background-position: center;
		}
	}
	#content{
		padding-top: 6.4em;
	}
	.button{
		position: relative;
		margin: auto;
		clear: both;
	}
	#index{
		h2{
			text-align: center;
		}
	}
	
	#blogPosts{
		width: 94%;
	}
	#aside{
		display: none;
	}
	
	table{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	#essential, #security{
		width: 96%;
		margin-left: 0;
	}
	#aboutUsText{
		width: 90%;
	}
	#wereYaska{
		img{
			max-width: 50%;
			_width: 50%;
			margin: 2em 25%;
		}
	}
	.person{
		width: 33.33%;
	}
	.mapContainer .map{
		margin-bottom: 3em;
	}
}


@media all and (max-width: 480px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    /*
.mobile{
	    display: inline;
    }
*/
    .non-mobile{
	    display: none;
    }
    .slas, .leadIn, h2{
	    margin: 0.5em 3%;
	    width: 96%;
    }
    .slas{
	    margin-bottom: 1.5em;
    }
    .button{
	    width: 100%;
    }
    h2{
	    margin: 0.5em auto;
    }
    .section{
	    padding: 3em 0;
	    border: none;
    }
    .insideContainer{
	    padding: 0;
    }
    #workshops{
	    #w_icons{
		    display: none;
	    }
	    p{
		    margin: 0 3%;
	    }
	}
	#development{
		img{
			display: none;
		}
		#devText{
			width: 100%;
			p{
				width: 94%;
				margin: auto 3%;	
			}
		}
	}
	#contactAndLegalese{
		width: 100%;
		div{
			float: left;
			color: $green;
			width: 33%;
			text-align: center;
		}
		#social, #copy{
			width: 50%;
		}
	}
	#tweets{
		display: none;
	}
	.person{
		width: 50%;
	}
	
}
@media all and (max-width: 420px) {
    form{
	    .inputDiv{
		 	width: 90%;   
	    }
    }
}

@media all and (max-width: 320px) {
    /* styles for iPhone/Android portrait */
    form{
	    .inputDiv{
		 	width: 90%;   
	    }
    }
    .person{
		width: 100%;
	}
}

@media all and (max-width: 240px) {
    /* styles for smaller devices */
}

