//background + contactformfields
$lightgrey: #FAFBFB;
//left and right stroke
$darkgrey: #DFE2E7;

//top bar + hover + button #1
$darkblue: #123E4D;
//h3
$green: #8BC640;
$purple: #916395;
$blue: #88BACA;

$bluegrey: #828C97;
$devidergrey: #DFE2E6;

@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';

@mixin border-line {
  border-left: 1px solid $darkgrey;
  border-right: 1px solid $darkgrey;
}

h1, h2, h3, h4, p, a, label, input, textarea {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h2, h3 {
  text-align: center;
}

h2 {
  font-size: 2em;
  margin: 2em 0 0.2em 0;
}

h3 {
  //padding: 0 0 1.5em 0;
}

p {
  color: $bluegrey;
}

body {
  background-color: $lightgrey;
}

.container {
  @include outer-container;
  background-color: white;
  /* border-right: none;
  border-left: none; */
  //@include media($mobile) {
  //}
  @include media($desktop) {
    @include border-line;
  }
}

header {
  //@include span-columns(10);
  //background-color: pink;
  @include outer-container;
  .top {
    //@include outer-container;
    //@include pad(7px 0 0 0);
    //@include fill-parent();
    @include span-columns(10);
    position: relative;
    @include media($mintablet) {
      position: fixed;
    }
    background-color: $darkblue;
    z-index: 1;
    //width: 958px;
    .network {
      @include span-columns(2 of 8);
      @include pad(8px 0 0 20px);
      img {
        vertical-align: top;
        width: 87px;
      }
    }
    .local {
      @include span-columns(6 of 8);
      @include pad(0 20px);
      ul {
        float: right;
        margin: 0;
        @include pad(0.1em 0 0.2em 0);
        li {
          height: 12px;
          border-left: 1px solid white;
          padding-left: 3px;
          display: inline-block;
          &:first-child {
            border-left: none;
          }
          a {
            vertical-align: top;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-size: 0.6em;
            font-weight: 500;
            display: block;
          }
          &:active, &:hover {
            a {
              color: $green;
            }
          }
        }
      }
    }
  }
  .nav {
    @include pad(25px 0 0 0);
    .logo {
      @include span-columns(2);
      @include pad(10px 0 0 20px);
      img {
        width: 131px;
      }
    }
    .menu {
      @include media($tablet) {
        display: block;
      }
      @include span-columns(8);
      display: none;
      ul {
        float: right;
        @include pad(0 1em);
        li {
          display: inline-block;
          //margin: 2em 0;
          a {
            padding: 1em;
            text-decoration: none;
            color: $bluegrey;
            font-size: 0.8em;
            @include transition-property(color);
            @include transition-duration(0.2s);
            @include transition-timing-function(linear);
            &:hover {
              color: $darkblue;
            }
          }
        }
      }
    }
  }
}

.main {
  @include span-columns(8);
  @include shift(1);
  .carousel {
    @include media($mintablet) {
      display: block;
    }
    display: none;
    height: 400px;
    .carousel-item {
      height: 250px;
      img {
        width: 262px;
      }
    }
    .carousel-nav {
      position: relative;
      .prev, .next {
        position: absolute;
        margin-top: -100px;
      }
      .prev {
        left: 0;
      }
      .next {
        right: 0;
      }
    }
    img {
      margin-top: 60px;
      width: 360px;
    }
  }
}

.centerrow {
  text-align: center;
  //@include pad(30px 0);
  @include span-columns(10);
  @include omega;
}

.narrow {
  @include media($mintablet) {
    @include span-columns(6 of 8);
    @include shift(1);
  }
}

.btn {
  @include media($mintablet) {
    margin: 15px auto 60px auto ;
  }
  opacity: 0.8;
  //display: inline-block;
  display: inline-block;
  margin: 10px auto 30px auto;
  padding: .5em 2em;
  overflow: hidden;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  @include transition-property(background-color, color);
  @include transition-duration(0.1s, 0.1s);
  @include transition-timing-function(linear, linear);
  background-color: white;
  &.darkblue {
    border-color: $darkblue;
    color: $darkblue;
    &:hover {
      color: white;
      background-color: $darkblue;
    }
  }
  &.green {
    border-color: $green;
    color: $green;
    &:hover {
      color: white;
      background-color: $green;
    }
  }
  &.purple {
    border-color: $purple;
    color: $purple;
    &:hover {
      color: white;
      background-color: $purple;
    }
  }
  &.blue {
    border-color: $blue;
    color: $blue;
    &:hover {
      color: white;
      background-color: $blue;
    }
  }
}

.supportservice {
  .servicetitle {
    color: $green;
  }
}

.codingservice {
  .servicetitle {
    color: $purple;
  }
}

.hostingservice {
  .servicetitle {
    color: $blue;
  }
}

.block {
  //@include media($mobile) {
  //@include outer-container;
  //@include span-columns(8);
  //@include shift(1);
  //}
  .blockintro {
    //@include clearfix;
    //@include media($mobile) {
    //  @include span-columns(8);
    //  @include shift(1);
    //}
    //@include span-columns(8);
    //@include shift(1);
    //@include pad();
    text-align: center;
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .blockheading {
    line-height: 1.6em;
    font-size: 0.8em;
    margin: 0 0 3.5em 0;
  }
  .blockcontent {
    line-height: 1.5em;
    font-size: 0.8em;
    margin: 0 0 1.5em 0;
    @include media($mintablet) {
      margin: 0 0 3.5em 0;
    }
  }
}

.hero {
  text-align: center;
  h2 {
    color: $darkblue;
    margin: 1em 0 0.2em 0;
  }
  h3 {
    color: $green;
    margin: 0;
    //@include span-columns(8 of 10);
    //@include shift(1);
  }
  p {
  }
}

.services, .moresupport, .block.codingservice, .block.hostingservice, .block.happyclients, .team, .contact {
  margin-bottom: 20px;
  @include media($mintablet) {
    margin-bottom: 60px;
  }
}

.services {
  text-align: center;
  .servicescontainer {
    @include span-columns(10);
    @include media($mintablet) {
      margin-bottom: 30px;
    }
    .serviceblock {
      padding: 5px 5px 30px 5px;
      border: 1px solid $devidergrey;
      @include span-columns(10);
      margin-bottom: 30px;
      @include media($mintablet) {
        @include span-columns(4 of 12);
      }
      .info {
        height: 50px;
      }
      .bolder {
        color: $darkblue;
        font-weight: 400;
      }
      .servicetitle {
        text-transform: uppercase;
      }
      p {
        line-height: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
      }
      .blockcontent {
        min-height: 80px;
        margin-bottom: 1em;
      }
      .btn {
        margin-bottom: 50px;
        margin-top: 50px;
        margin: 0;
        padding: .5em 1em;
      }
      hr {
      }
      img {
        width: 51px;
        margin-top: 20px;
      }
    }
    .codingservice {
    }
    .supportservice {
    }
    .hostingservice {
    }
  }
}

.service, .team, .contact, .about {
  h2 {
    margin-top: 0.5em;
    font-weight: 600;
    //@include clearfix;
    @include span-columns(10);
  }
  h3 {
    @include span-columns(10);
    &.pullLeft {
      text-align: left;
      //@include span-columns(8);
      //@include shift(1);
      //@include clearfix;
    }
  }
}

.service, .team, .about {
  //padding-top: 50px;
  .centerrow {
    img {
      width: 30px;
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.4em;
  }
  h3 {
    font-weight: 400;
    font-size: 0.9em;
    text-align: center;
  }
  h4 {
    font-size: 0.8em;
  }
  @include outer-container;
  .featurecontainer {
    //@include span-columns(8);
    //@include shift(1);
    .feature {
      @include span-columns(10);
      @include media($mintablet) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }
    }
  }
  .casecontainer {
    @include span-columns(10);
    .case {
      @include span-columns(10);
      border: 1px solid $devidergrey;
      margin-bottom: 30px;
      @include media($mintablet) {
        @include span-columns(8 of 16);
        @include omega(2n);
      }
      h4, p {
        margin: 5px 0;
        padding: 0 20px;
      }
      p {
        margin-bottom: 15px;
      }
      img {
        @include fill-parent;
        //width: 320px;
      }
    }
  }
  .checkcontainer {
    @include span-columns(10);
    .check {
      @include span-columns(10);
      @include media($tablet) {
        @include span-columns(1 of 3);
        @include omega(3n);
      }
      img {
        float: left;
        width: 13px;
      }
      p {
        margin: 0 0 0.5em 20px;
      }
    }
    &.last {
      margin-bottom: 50px;
    }
  }
}

.happyclients {
  .clientscontainer {
    @include span-columns(10);
    @include pad(20px 0 30px 0);
    text-align: center;
    @include media($mobile) {
      @include pad(20px 0);
    }
    .client {
      @include media($mintablet) {
        @include span-columns(1 of 4);
        @include omega(4n);
        text-align: center;
      }
      @include span-columns(10);
      @include pad(15px 0);
      img {
        width: 100px;
      }
    }
  }
}
.team {
  .blockcontent {
    line-height: 1.5em;
    font-size: 0.8em;
    margin-bottom: 0;
    //margin: 0 0 3.5em 0;
  }
  .teamcontainer {
    @include span-columns(10);
    .teammember {
      margin: 20px 0 0 0;
      text-align: center;
      @include media($mobile) {
        @include span-columns(10);
        @include omega(1n);
      }
      @include media($widemobile) {
        @include span-columns(5);
        @include omega(2n);
      }
      @include media($tablet) {
        @include span-columns(1 of 3);
        @include omega(3n);
      }
      @include media($desktop) {
        @include span-columns(1 of 4);
        @include omega(4n);
      }
      img {
        width: 125px;
      }
      h3 {
        margin: 0;
      }
    }
  }
  .factscontainer {
    h3 {
      margin: 30px 0;
    }
    @include span-columns(10);
    ul {
      //@include span-columns(8);
      //@include shift(1);
      @include pad(0);
      list-style-type: none;
      margin-bottom: 60px;
      li {
        margin-bottom: 5px;
        p {
          margin: 0;
          font-size: 0.8em;
        }
      }
    }
  }
}
.contact, .about {
  @include outer-container;
  h3 {
    //@include span-columns(8);
    //@include shift(1);
  }
  #contactForm {
    @include media($tablet) {
      border: 1px solid $devidergrey;
      @include pad(20px);
    }
    @include span-columns(10);
    //@include span-columns(8);
    //@include shift(1);
    .insideContainer {
      label {
        margin: 0 0 5px 0;
        @include span-columns(10);
        font-weight: 400;
        font-size: 0.9em;
      }
      .inputDiv {
        @include media($mintablet) {
          @include span-columns(5 of 10);
          @include omega(2n);
          @include outer-container;
          @include pad(10px 20px);
        }
        @include span-columns(10);
        @include pad(10px 0px);
        input, textarea {
          @include span-columns(10);
          background-color: $lightgrey;
          border: 1px solid $darkgrey;
          border-radius: 3px;
          font-size: 1em;
        }
      }
      .textfield {
        @include media($mintablet) {
          @include pad(10px 40px 10px 20px);
        }
        @include span-columns(10);
        margin-bottom: 20px;
        //@include shift(1);
        //@include pad(10px 30px 10px 20px);
        textarea {
          @include span-columns(10);
          background-color: $lightgrey;
          border: 1px solid $darkgrey;
          border-radius: 3px;
          font-size: 1em;
        }
      }
      .centerrow {
        @include media($mintablet) {
          @include pad(0 40px);
        }
        @include span-columns(10);
        #submit {
          @include media($mintablet) {
            float: right;
          }
          margin-bottom: 10px;
        }
      }
    }
  }
}
.about {
  .addresscontainer {
    //@include outer-container;
    @include span-columns(10);
    .address {
      @include media($mintablet) {
        //@include shift(1);
        @include span-columns(3);
      }
      p {
        //margin-bottom: 2em;
      }
    }
    .map {
      display: none;
      @include media($mintablet) {
        @include span-columns(5);
      }
      iframe {
        @include fill-parent;
      }
    }
  }
}
footer {
  background-color: $green;
  //@include outer-container;
  @include span-columns(10);
  //@include media($mobile) {
  //  @include span-columns(4);
  //}
  ul {
    list-style-type: none;
    margin: 0;
    li {
      float: left;
    }
  }
  .copy {
    @include span-columns(4);
    p {
      @include pad(11px 20px 5px 20px);
      margin: 0;
      color: white;
      font-size: 0.8em;
    }
  }
  .social {
    @include span-columns(6);
    @include omega();
    ul {
      float: right;
      @include pad(10px 20px 5px 0);
      li {
        margin-left: 30px;
        a {
        vertical-align: middle;
          img {
            width: 16px;
          }
        }
      }
    }
  }
}
.devider {
  border-width: 0;
  background-color: $devidergrey;
  height: 1px;
  line-height: 0;
  width: 80%;
  //&.large {
  //  margin-top: 50px;
  //  margin-bottom: 50px;
  //}
}