//background + contactformfields
$lightgrey: #FAFBFB;
//left and right stroke
$darkgrey: #DFE2E7;

//top bar + hover + button #1
$darkblue: #123E4D;
//h3
$green: #8BC640;
$purple: #916395;
$blue: #88BACA;

$bluegrey: #828C97;
$devidergrey: #DFE2E6;