<div id="fourOhFour">
	<div class="insideContainer">
		<div id="beachBall">
			<img class="beachBallImg" src="{baseURL}/static/img/404/rainbow@2x.png" />
			<img class="beachBallImg rotating" src="{baseURL}/static/img/404/ray@2x.png" />
			<img class="beachBallImg" src="{baseURL}/static/img/404/highlight@2x.png" />
	    </div>
	    <h1>Oops. We Could't find the page you were looking for.</h1>
		<div id="fourOhFourButtons">
			<div class="fButton" id="homepageButton">
				<a href="/">Visit homepage</a>
			</div>
			<div class="fButton" id="blogButton">
				<a href="/blog">Read blog</a>
			</div>
			<div class="fButton" id="contactButton">
				<a href="/contact">Contact us</a>
			</div>
		</div>
	</div>
</div>
