<div id="wereYaska">
	<div class="insideContainer">
		<div class="clearfix">
			<div id="aboutUsText">
				<h1>Hello, we are Yaska</h1>
				<p>We started out with just one guy, Julien, crossing the whole country to offer technical support. Through the years we had to expand, and now we're 6 people and several freelancers, offering technical support and development services. Today we're a strong team, passionate about our work.</p>
				<p>Wether you contact us for technical support or development, we try to come up with comprehensive and high-quality solutions.
		We like a challenge and are able to think outside the box to find solutions tailored to your needs.</p>
				<p>This strategy has encouraged us to become part of the Apple Consultants Network, which is a network for independently owned companies that offer technical support for Apple products.</p>
				<p>Apple applies strict requirements for inclusion, making sure we can guarantee you a high level of expertise.</p>
			</div>
			<img src="{baseURL}/static/img/contact/acn.png" />
		</div>
	</div>
</div>
<div id="people">
	<div class="insideContainer">
		<div class="person" id="julien">
			<img src="{baseURL}/static/img/contact/julien.png" />
			<span class="name">Julien Vander Straeten</span>
			<span class="title">CEO &amp; Founder</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/eric.png" />
			<span class="name">Eric Ballet</span>
			<span class="title">CFO &amp; Administration</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/alexis.png" />
			<span class="name">Alexis Verbeeke</span>
			<span class="title">Lead Technical Support</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/arthur.png" />
			<span class="name">Arthur Lambillotte</span>
			<span class="title">UI &amp; Graphic Design</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/laura.png" />
			<span class="name">Laura DeSchryver</span>
			<span class="title">PR &amp; Communication</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/david.png" />
			<span class="name">David Deren</span>
			<span class="title">Web Development</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/karl.png" />
			<span class="name">Karl Vossen</span>
			<span class="title">Back-end Development</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/louis.png" />
			<span class="name">Louis Van de Calseyde</span>
			<span class="title">Web Development</span>
		</div>
		<div class="person">
			<img src="{baseURL}/static/img/contact/pierre.png" />
			<span class="name">Pierre vander Eecken</span>
			<span class="title">Web Development</span>
		</div>
	</div>
</div>