<div>
	<div class="insideContainer">
		<h1>Hello, we are Yaska</h1>
		<p>We started out with just one guy, Julien, crossing the whole country to offer technical support. Through the years we had to expand, and now we're 6 people and several freelancers, offering technical support and development services. Today we're a strong team, passionate about our work.</p>
		<p>Wether you contact us for technical support or development, we try to come up with comprehensive and high-quality solutions.
We like a challenge and are able to think outside the box to find solutions tailored to your needs.</p>
		<p>This strategy has encouraged us to become part of the Apple Consultants Network, which is a network for independently owned companies that offer technical support for Apple.</p>
		<p>Apple applies strict requirements for inclusion, making sure we can guarantee you a high level of expertise.</p>
	</div>
</div>