<!DOCTYPE html>
<html lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title>{title}</title>
    <link rel="stylesheet" href="{baseURL}/static/stylesheets/stylesheet.css">
  </head> 
  <body id="{pageID}" class="no-js">
  	<div id="container">
		<header role="banner" class="">
			<div class="insideContainer">
				<div>
					<div id="logo"><a href="/{baseURL}"><img src="{baseURL}/static/img/logo.png" alt="logo" /></a></div>
					<nav>
						<ul id="nav" role="navigation">
							<li><a href="services"><img src="{baseURL}/static/img/nav_services.png" alt=""/><span>services</span></a></li>
							<li><a href="blog"><img src="{baseURL}/static/img/nav_blog.png" alt=""/><span>blog</span></a></li>
							<li><a href="store"><img src="{baseURL}/static/img/nav_store.png" alt=""/><span>store</span></a></li>
							<li><a href="contact"><img src="{baseURL}/static/img/nav_contact.png" alt=""/><span>contact</span></a></li>
							<li><a href="about"><img src="{baseURL}/static/img/nav_about.png" alt=""/><span>contact</span></a></li>
						</ul>
					</nav>
				</div>
				{#userCtx}
				<div id="session" class="{?name}loggedin{:else}loggedout{/name}">
				  {?name}
				    <span class="username">{name}</span>
				  {/name}
				  <span class="actions">
				    {?name}
				      <a href="#" class="logout">Logout</a>
				      <!--<li class="signup"><a href="#">Signup</a></li>-->
				    {:else}
				      <a href="#" class="login">Login</a>
				    {/name}
				  </span>
				  <div id="login_dropdown" style="display: none">
				    <form id="login_form" action="" method="POST" class="clearfix">
				      <div class="general_errors"></div>
				      <div class="username field">
				        <label for="login_form_name">Username</label>
				        <input id="login_form_name" name="name" type="text" />
				        <div class="errors"></div>
				      </div>
				      <div class="password field">
				        <label for="login_form_password">Password</label>
				        <input id="login_form_password" name="password" type="password" />
				        <div class="errors"></div>
				      </div>
				      <div class="spinner" style="display: none;"></div>
				      <div class="actions">
				        <input type="submit" id="login_form_login" value="Login" />
				        <input type="button" id="login_form_cancel" value="Cancel" />
				      </div>
				      <!-- <div class="clear"></div> -->
				    </form>
				  </div>
				</div>
				{/userCtx}
			</div>
		</header>
		<span class="clear"></span>
	    <div id="content" role="main">
	      {content|s}
	    </div>
	    <footer id="footer" role="contentinfo" class="clearfix">
	    	<div class="insideContainer">
		    	<div id="contactAndLegalese">
			  		<h3>Contact us</h3>
				  	<div>
				  		<a href="#directions">Directions &gt;</a>
				  	</div>
				  	<div>T +32 (0)9 379 07 88</div>
				  	<div>email: <a href="mailto:info@yaska.eu">info@yaska.eu</a></div>
				  	<div id="social">
				  		<a href="https://www.facebook.com/Yaska.eu?fref=ts"><img src="{baseURL}/static/img/f_fb.png" alt="facebook"></a>
				  		<a href="https://twitter.com/yaska_eu"><img src="{baseURL}/static/img/f_twitter.png" alt="twitter" /></a>
				  		<a href="http://www.linkedin.com/company/453827"><img src="f_linkedin.png" alt="linkedin" /></a>
				  	</div>
				  	<div>&copy; Copyright {fullYear} Yaska.eu.</div>
			  	</div>
			  	<div id="tweets">
			  		<h3>Twitter feed</h3>
			  	</div>
	    	</div>
	    </footer>
  	</div>
	<script src="{baseURL}/modules.js"></script>
	<script src="{baseURL}/static/scripts/script.js"></script>
  </body>
</html>
