<!DOCTYPE html>
<html lang="en"> 
  <head>
  	<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="apple-touch-icon-precomposed" href="{baseURL}/static/img/homeScreen/57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{baseURL}/static/img/homeScreen/72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{baseURL}/static/img/homeScreen/114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{baseURL}/static/img/homeScreen/144.png" />
	<link rel="icon" href="{baseURL}/static/favicon.ico" type="image/x-icon"> 
	<link rel="shortcut icon" href="{baseURL}/static/favicon.ico" type="image/x-icon">
    <title>{title}</title>
    <!--[if lt IE 9]>
	    <script src="{baseURL}/static/scripts/ie.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="{baseURL}/static/stylesheets/stylesheet.css">
    <link rel="profile" href="http://microformats.org/profile/hcard">
	{#extrasInHead}
    	{.|s}
    {/extrasInHead}
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-15326372-1']);
	  _gaq.push(['_setDomainName', 'yaska.eu']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	<script type='text/javascript'>
	(function (d, t) {
	  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
	  bh.type = 'text/javascript';
	  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=buyjyc1a1nduqsql9a5txq';
	  s.parentNode.insertBefore(bh, s);
	  })(document, 'script');
	</script>
  </head> 
  <body id="{pageID}" class="no-js">
  	<div id="container">
		<header role="banner" class="">
			<div class="insideContainer">
				<div>
					<div id="logo"><a href="/{baseURL}"><img src="{baseURL}/static/img/logo.png" alt="logo" /></a></div>
					<a id="menuButton"><img src="{baseURL}/static/img/nav/hamburger.png" alt="" /></a>
					<nav class="clearfix">
						<ul id="nav" role="navigation">
							<li id="n_services" class="{nav_services}"><a href="{baseURL}/services">services</a></li>
							<li id="n_blog" class="{nav_blog}"><a href="{baseURL}/blog">blog</a></li>
							<li id="n_store" class="{nav_store}"><a href="http://store.yaska.eu">store</a></li>
							<li id="n_contact" class="{nav_contact}"><a href="{baseURL}/contact">contact</a></li>
							<li id="n_about" class="{nav_about}"><a href="{baseURL}/about">about</a></li>
						</ul>
					</nav>
				</div>
				<span class="hidden">{forCache}</span>
				<!--
{#userCtx}
				<div id="session" class="{?name}loggedin{:else}loggedout{/name}">
				  {?name}
				    <span class="username">{name}</span>
				  {/name}
				  <span class="actions">
				    {?name}
				      <a href="#" class="logout">Logout</a>
				    {:else}
				      <a href="#" class="login">Login</a>
				    {/name}
				  </span>
				  <div id="login_dropdown" style="display: none">
				    <form id="login_form" action="" method="POST" class="clearfix">
				      <div class="general_errors"></div>
				      <div class="username field">
				        <label for="login_form_name">Username</label>
				        <input id="login_form_name" name="name" type="text" />
				        <div class="errors"></div>
				      </div>
				      <div class="password field">
				        <label for="login_form_password">Password</label>
				        <input id="login_form_password" name="password" type="password" />
				        <div class="errors"></div>
				      </div>
				      <div class="spinner" style="display: none;"></div>
				      <div class="actions">
				        <input type="submit" id="login_form_login" value="Login" />
				        <input type="button" id="login_form_cancel" value="Cancel" />
				      </div>
				    </form>
				  </div>
				</div>
				{/userCtx}
-->
			</div>
		</header>
		<span class="clear"></span>
	    <div id="content" role="main">
	      {content|s}
	    </div>
	    <footer id="footer" role="contentinfo">
	    	<div class="insideContainer">
		    	<div id="contactAndLegalese">
			  		<h3 class="non-mobile">Contact us</h3>
				  	<div>
				  		<a href="http://maps.google.com/maps?q=dendermondse+steenweg+40+9000+Gent&hl=en&ll=51.055801,3.74784&spn=0.018316,0.033817&sll=37.0625,-95.677068&sspn=46.946584,69.257812&hnear=Dendermondsesteenweg+40,+Gent+9000+Gent,+Oost-Vlaanderen,+Vlaams+Gewest,+Belgium&t=m&z=15">Get Directions</a>
				  	</div>
				  	<div><span class="mobile">&nbsp;|&nbsp;</span><span class="non-mobile">T </span>+32 (0)9 379 07 88</div>
				  	<div><span class="mobile">&nbsp;|&nbsp;</span><span class="non-mobile">email: </span><a href="mailto:info@yaska.eu">info@yaska.eu</a></div>
				  	<div id="social" class="clearfix">
				  		<a href="https://www.facebook.com/Yaska.eu"><img src="{baseURL}/static/img/f_fb.png" alt="facebook"></a>
				  		<a href="https://twitter.com/yaska_eu"><img src="{baseURL}/static/img/f_twitter.png" alt="twitter" /></a>
				  		<a href="http://www.linkedin.com/company/453827"><img src="{baseURL}/static/img/f_linkedin.png" alt="linkedin" /></a>
				  		<a href="http://vimeo.com/yaska"><img src="{baseURL}/static/img/f_vimeo.png" alt="vimeo"/></a>
				  		<a href="{baseURL}/blog"><img src="{baseURL}/static/img/f_rss.png" alt="rss" /></a>
				  	</div>
				  	<div id="copy">&copy; Copyright {fullYear} Yaska.eu.</div>
			  	</div>
			  	<!--
<div id="tweets">
			  		<h3>Twitter feed</h3>
			  	</div>
-->
	    	</div>
	    	<span class="clear"></span>
	    </footer>
  	</div>
	<script src="{baseURL}/modules.js"></script>
	<script src="{baseURL}/static/scripts/script.js"></script>
	<script src="{baseURL}/static/scripts/responsiveslides.min.js"></script>
	{#extraScripts}
    	{.|s}
    {/extraScripts}
  </body>
</html>
