<div class="insideContainer">
	<div id="blogPosts">
		{#posts}
		<article class="blogPost">
			<h2>{value.title}</h2>
			<div class="metadata clearfix">
				<span class="pubDate">{value.dateString}</span>
				<span class="author">{value.author}</span>
				<span class="tags clearfix">
					{#value.tags}
						<span class="tag">{.}</span>
					{/value.tags}
				</span>
			</div>
			<div class="postContent">{value.html|s}</div>
		</article>
		{/posts}
	</div>
	<div id="aside" role="complementary">
		<div id="blog_social">
			<a href="https://www.facebook.com/Yaska.eu"><img src="{baseURL}/static/img/blog/s_fb.png" alt="facebook" /></a>
			<a href="https://foursquare.com/v/yaska-belgium/4e83108fd3e37ba06ee030ab"><img src="{baseURL}/static/img/blog/s_fs.png" alt="facebook" /></a>
	  		<a href="https://twitter.com/yaska_eu"><img src="{baseURL}/static/img/blog/s_twitter.png" alt="twitter" /></a>
	  		<a href="http://www.linkedin.com/company/453827"><img src="{baseURL}/static/img/blog/s_in.png" alt="linkedin" /></a>
	  		<a href="http://vimeo.com/yaska"><img src="{baseURL}/static/img/blog/s_vimeo.png" alt="vimeo"/></a>
	  		<a href="{baseURL}/blog"><img src="{baseURL}/static/img/blog/s_rss.png" alt="rss" /></a>
	  		<div class="clear"></div>
		</div>
		<div id="latestArticles">
			<h3>Latest articles</h2>
			{#latestPosts}
				<a href="{baseURL}/blog/{url}">{title}&hellip;</a>
			{/latestPosts}
		</div>
		<div id="tags">
			<h3>Tags</h2>
			{#tags}
				<a class="tagCloudTag" href="{baseURL}/blog/tags/{.}">{.}</a>
			{/tags}
		</div>
		<div id="archive" class="hidden">
			<h3>Archive</h3>
			{#allDates}
				{.}
			{/allDates}
		</div>
		</div>
	</div>
	<div class="clear"></div>
</div>