<div id="contactForm">
	<div class="insideContainer">
		<form id="form" name="contact" action="http://public.yaska.eu/post/post.php" method="post">
			<div class="inputDiv">
				<label for="name">Your name <span>*</span></label>
				<input class="clearfix" type="text" name="name" id="name">
			</div>
			<div class="inputDiv">
				<label for="email">Your e-mail address <span>*</span></label>
				<input class="clearfix" type="email" name="email" id="email">
			</div>
			<div class="inputDiv">
				<label for="company">Company</label>
				<input class="clearfix" type="text" name="company" id="company">
			</div>
			<div class="inputDiv clearfix">
				<label for="phone">Telephone Number <span>*</span></label>
				<input class="clearfix" type="tel" name="phone" id="phone">
			</div>
			<div>
				<label for="message" id="messageLabel">Message <span>*</span></label>
				<textarea name="message">
				
				</textarea>
			</div>
			<input id="submit" type="submit" value="Send" class="clearfix">
		</form>
	</div>
</div>
<div id="maps">
	<div class="insideContainer">
		<div class="mapContainer vcard">
			<h2><span class="fn org">Yaska Belgium</span> HQ</h2>
			<div class="clearfix">
				<div class="metadata address adr"><span class="street-address">Dendermondsesteenweg 40</span>, <span class="postal-code">9000</span> <span class="locality">Gent</span></div>
				<div class="metadata phone tel">+32 (0)9 379 07 88</div>
			</div>
			<div id="BelgianMap" class="map">
				
			</div>
		</div>
		<div class="mapContainer vcard">
			<h2><span class="fn org">Yaska Poland</span> HQ</h2>
			<div class="clearfix">
				<div class="metadata address adr"><span class="street-address">Ul. Postepu 21</span>, <span class="postal-code">02-676</span> <span class="locality">Warszawa</span></div>
				<div class="metadata phone tel">+48 (0)22 43 00 340</div>
			</div>
			<div id="PolishMap" class="map">
			
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>