<div>
	<hgroup>
		<h1>Super interesting meaningful slogan</h1>
		<h2>Unlike the “by URI” and “by File Upload” modes, the “Direct Input” mode of the validator provides validated content in the form of characters pasted or typed in the validator's form field.</h2>
	</hgroup>
</div>
<div>
	<span>Introducing</span>
	<h2>Service Level Agreement</h2>
	<div class="button">See Plans and pricing</div>
	<div class="slas">
		<h3>Quick Response</h3>
		<p>Guaranteed response time!</p>
	</div>
	<div class="slas">
		<h3>Monthly Reporting</h3>
		<p>Explanation about monthly reporting.</p>
	</div>
	<div class="slas">
		<h3>Monitoring</h3>
		<p>Monitoring and pre-emptive work, every month.</p>
	</div>
	<div class="slas">
		<h3>Crash Plan</h3>
		<p>Crash Plan PROe is a program that will automatically back up all your valuable data, such as work documents or pictures.</p>
	</div>
	<div class="slas">
		<h3>Helpdesk Access</h3>
		<p>Online Helpdesk access to report problems or to view the history of our activities</p>
	</div>
	<div class="slas">
		<h3>Kerio Connect</h3>
		<p>Kerio Connect is an amazing piece of software that makes it possible to always have all your information with you, no matter where you are.</p>
	</div>
</div>