<div id="pic">
	<div class="insideContainer">
		<img src="{baseURL}/static/img/visual.png" />
	</div>
</div>
<div id="intro" class="section">
	<div class="insideContainer">
		<hgroup>
			<h1>We offer Mac solutions from A to Z</h1>
			<h2>We offer comprehensive solutions that benefit your company in the short and long term.</h2>
		</hgroup>
	</div>
</div>
<div id="sla" class="section">
	<div class="insideContainer">
		<span class="leadIn">Introducing</span>
		<h2 class="sectionHeader">Service Level Agreement</h2>
		<div class="slas clear" id="quickresponse">
			<h3 class="quickResponse">Quick Response</h3>
			<p>Guaranteed response time!</p>
		</div>
		<div class="slas" id="monthlyreporting">
			<h3 class="monthlyReporting">Monthly Reporting</h3>
			<p>Every month, you will receive a report with the maintainance actions we made and recommendations on how to improve your network.</p>
		</div>
		<div class="slas" id="monitoring">
			<h3 class="monitoring">Monitoring</h3>
			<p>Monitoring and pre-emptive work, every month.</p>
		</div>
		<div class="slas" id="crashplan">
			<h3 class="crashPlan">Crash Plan</h3>
			<p>Crash Plan PROe is a program that will automatically back up all your valuable data, such as work documents or pictures.</p>
		</div>
		<div class="slas" id="helpdeskaccess">
			<h3 class="helpdeskAccess">Helpdesk Access</h3>
			<p>Online Helpdesk access to report problems or to view the history of our activities</p>
		</div>
		<div class="slas" id="kerioconnect">
			<h3 class="kerioConnect">Kerio Connect</h3>
			<p>Kerio Connect is an amazing piece of software that makes it possible to always have all your information with you, no matter where you are.</p>
		</div>
		<div class="button" id="slaButton"><a href="/services/#support">See Plans and pricing</a></div>
	</div>
	<span class="clear"></span>
</div>
<div id="workshops" class="section">
	<div class="insideContainer">
		<span class="leadIn">Get starting with</span>
		<h2 class="sectionHeader">Workshops</h2>
		<img id="w_icons" src="{baseURL}/static/img/w_icons.png" />
		<div id="workShopsPs">
			<p>Do you want to get the most out of your Mac ? We offer workshops on Mac OS X, iMovie, Pages and any other program you can think of. We offer private classes, which means you can opt for an individual workshop, or get organised with your friends to take a one together. This way, we can give you a training that is highly adapted to your needs and expectations. Yaska also covers workshops for professionals. Are you a business manager and does your team need training to use a new program of any kind? <br />Get in touch with us to see what we can do!</p>
		</div>
		<div class="button" id="workshopsButton"><a href="/services/#gettingStarted">Get started</a></div>
	</div>
	<span class="clear"></span>
</div>
<div id="development" class="section">
	<div class="insideContainer">
		<div id="devText">
			<span class="leadIn">We also do</span>
			<h2 class="sectionHeader">Development</h2>
			<p>We know that your customers are not everyone's customers and that one-size-fits-all solutions are rarely the best way to reach your audience. By working together with you we can build a customised solution that fits your needs exactly.<br />We can provide you with a website, an iOS App or a back-office system to manage your website or your business data.</p>
		</div>
		<img id="d_devices" src="{baseURL}/static/img/d_devices.png" />
		<div class="button" id="developmentButton"><a href="/services/#development">Let's get coding</a></div>
		<span class="clear"></span>
	</div>
</div>