<div id="projectsModule">
    <div>
        <div class="insideContainer" id="sites">
            <h2 id="h2-sites">SITES</h2>
            <img id="toolbar" src="/static/img/projects/toolbar@2x.png" alt=""/>     
            <ul class="rslides">
              <li><img src="/static/img/projects/htd@2x.png" alt="Hof ter Dampoort"/></li>
              <li><img src="/static/img/projects/nespresso@2x.png" alt="Nespresso Clubpromo" /></li>
              <li><img src="/static/img/projects/rearch@2x.png" alt="Rearch" /></li>
              <li><img src="/static/img/projects/yaska@2x.png" alt="Yaska" /></li>
              <li><img src="/static/img/projects/ncs@2x.png" alt="Nespresso Club Services" /></li>
            </ul>
            <p>You should hire us for your next project because:</p>
            <ul id="why">
                <li>We write clean & semantic markup, which means that your webpages will be accessible for search engines and visually impaired users.</li>
                <li>Our use of flexible back-end technologies allow us to make changes to the structure of your application with minimal costs.</li>
                <li>We pay attention to detail when it comes to usability &amp; overall feel of your website or application.</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="insideContainer" id="videos">
            <h2 id="h2-videos">VIDEOS</h2>
            <iframe src="http://player.vimeo.com/hubnut/user/yaska/uploaded_videos?color=8ecd33&amp;background=000000&amp;slideshow=1&amp;video_title=1&amp;video_byline=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
    <div>
        <div class="insideContainer" id="illustrations">
            <h2 id="h2-illustrations">ILLUSTRATIONS</h2>
            <ul class="rslides">
              <li><img src="/static/img/projects/v_1.png" alt=""/></li>
              <li><img src="/static/img/projects/v_2.png" alt="" /></li>
              <li><img src="/static/img/projects/v_3.png" alt="" /></li>
              <li><img src="/static/img/projects/team_1@2x.png" alt="" /></li>
              <li><img src="/static/img/projects/team_2@2x.png" alt="" /></li>
              <li><img src="/static/img/projects/team_3@2x.png" alt="" /></li>
            </ul>
        </div>
    </div>
</div>