<div id="sideNav" role="navigation">
	<ul>
		<li id="sn_support" class="sideNavButton active"><a href="#support">support</a></li>
		<li id="sn_services" class="sideNavButton"><a href="#gettingStarted">services</a></li>
		<li id="sn_workshops" class="sideNavButton"><a href="#workshops">workshop</a></li>
		<li id="sn_development" class="sideNavButton last"><a href="#development">develop</a></li>
	</ul>
</div>
<div id="support">
	<div class="insideContainer">
		<h2>Service Level Agreement</h2>
		<p>We want to provide a service that makes sure our customers never have to worry about their computer again. With the SLA-programme, we made this possible to offer this for a reasonable price.</p>
		<p>Here’s how we do this:</p>
		<table>
			<thead>
				<tr>
					<th><span class="title">SLA</span>Monthly price per computer</th>
					<th class="second"><span class="title">Essential</span>19,76&euro;</th>
					<th class="last"><span class="title">Security</span>26,76&euro;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Guaranteed response time</th>
					<td class="second" data-checks="yes">Yes</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
				<tr>
					<th>Monitoring &amp; pre-emptive work</th>
					<td class="second" data-checks="yes">Yes</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
				<tr>
					<th>Helpdesk access to report issues</th>
					<td class="second" data-checks="yes">Yes</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
				<tr>
					<th>Monthly reporting</th>
					<td class="second" data-checks="yes">Yes</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
				<tr>
					<th>Crash Plan secure backup</th>
					<td class="second" data-checks="no">No</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
				<tr>
					<th>Devices in sync with Kerio</th>
					<td class="second" data-checks="no">No</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
			</tbody>
		</table>
		<div id="essential">
			<h3>Essential</h3>
			<p>We maintain your computer on a constant basis.</p>
			<p>We will take over all the maintenance tasks for your computer in remote. We’ll make the updates, check the status of your RAM Memory and storage situation and many more.</p>
			<p>By constantly monitoring your network we will be able to eliminate the small problems in your computer that give you headaches and that could potentially lead to bigger problems.</p>
			<p>We will send you a monthly report with actions made and recommendations to optimize the performance of your computers.</p>
		</div>
		<div id="security">
			<h3>Security</h3>
			<p>Your computer makes its backups entirely automatically</p>
			<p>Crash Plan PROe is a program that will automatically back up all your valuable data, such as work documents or pictures. If you loose a file or even accidentally erase it, you will be able to retrieve it by yourself, or ask us to do so in remote.</p>
			<p>Kerio Connect is an amazing piece of software that makes it possible to always have all your information with you, no matter where you are.
This program makes sure that all your e-mails, agendas and contacts keep synchronised with your different devices, such as your computers, iPhones, iPads and Blackberries.</p>
			<p>You can also share your agenda with your colleagues, making it possible for them to know when you are available and even add appointments for you in your agenda.</p>
		</div>
		<div id="adhoc" class="clearfix">
			<h3>Ad Hoc Support</h3>
			<p>We take care of your Mac problems!</p>
			<p>Yaska offers all kinds of support on site, by phone or even by mail.</p>
			<p>You can easily contact us through the Helpdesk, a special program that allows you to submit all your questions and keep track of the actions made by Yaska. If you call on us regularly, we recommend you to take a voucher worth for 10 hours of support: it’s easy to use and cheaper than normal ad hoc support.</p>
		</div>
		<div id="mobile" class="clearfix">
			<h3>Mobile Device Management</h3>
			<p>Are you planning to introduce iPhones and/or iPads in your company?</p>
			<p>Yaska has a high level of experience with MDM solutions for small and big companies. Do not hesitate to contact us for more information.</p>
		</div>
	</div>
</div>
<div id="gettingStarted">
	<div class="insideContainer">
		<h2>Getting Started with a Mac</h2>
		<p>You want to buy a Mac but don't want to go through the fuss of installing it?<br />Consider one of our packages: you can buy a Mac and have one of our technicians come over to to deliver and install it for you.<br/>Still not enough? Take the Premium package and he'll give you a 1-on1 tutorial.</p> 
		<table>
			<thead>
				<tr>
					<th class="title">Packages</th>
					<th class="title">Basic</th>
					<th class="last title">Premium</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Transfer of data from your old computer</th>
					<td data-checks="yes">Yes</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
				<tr>
					<th>Configuration of internet and printer(s)</th>
					<td data-checks="yes">Yes</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
				<tr>
					<th>1-on-1 Workshop</th>
					<td data-checks="no">No</td>
					<td data-checks="yes" class="last">Yes</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="workshops">
	<div class="insideContainer">
		<h2>Workshops</h2>
		<p>One-on-one workshops or group sessions.<br />
		Do you want to get the most out of your Mac?<br />
		We offer workshops on Mac OSX, iMovie, Pages and many other programs.<br />
		You can opt for 1-on-1 workshops or get organised with your friends and follow one together.</p>
		<p>Workshops are available in Dutch, French and English</p>  
		<table>
			<thead>
				<tr>
					<th class="title">Subject</th>
					<th class="title">Time</th>
					<th class="title">Location</th>
					<th class="title last">Availability</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>iOS Basics (iPhone, iPad)</th>
					<td>01/01/13 14:00 - 17:00</td>
					<td>Dampuurt</td>
					<td class="booked last">Fully booked</td>
				</tr>
				<tr>
					<th>Mac OSX Basics</th>
					<td>01/01/13 14:00 - 17:00</td>
					<td>Dampuurt</td>
					<td class="booked last">Fully booked</td>
				</tr>
				<tr>
					<th>iPhoto, iMovie, GarageBand</th>
					<td>01/01/13 14:00 - 17:00</td>
					<td>Dampuurt</td>
					<td class="open last">Sign Up</td>
				</tr>
				<tr>
					<th>Keynote, Pages, Numbers</th>
					<td>01/01/13 14:00 - 17:00</td>
					<td>Dampuurt</td>
					<td class="open last">Sign Up</td>
				</tr>
				<tr>
					<th>Aperture, Final Cut, Motion</th>
					<td>01/01/13 14:00 - 17:00</td>
					<td>Dampuurt</td>
					<td class="open last">Sign Up</td>
				</tr>
				<tr>	
					<th>Photshop, Illustrator, Indesign</th>
					<td>01/01/13 14:00 - 17:00</td>
					<td>Dampuurt</td>
					<td class="open last">Sign Up</td>
				</tr>
			</tbody>
		</table>
		<div class="clearfix"></div>
	</div>
</div>
<div id="development">
	<div class="insideContainer">
		<h2>Development</h2>
			<p>You name it, we make it! <br />
			We provide all kinds of development services, from websites to iOS applications and many more.</p>
			<h3>Awesome and User-friendly design</h3>
			<p>There are two things on which we don’t compromise:<br />
			We are deeply convinced that a design has to look nice and create positive emotions.
			This is why we spend a lot of time checking out the latest trends in colors and typography. We also pay a lot of attention on adapting our design to our customer’s preferences and style.</p>
			<p>The second thing is creating a user-friendly page. We create interfaces that are accessible and easy to use for everyone.</p> 
			<h3>Flexible and Clean Markup</h3>
			<p>We use the latest technologies that allows us to be flexible to your changing demands. So instead of delivering you a fixed result, you can still contact us to change or add certain features even months after the delivery. Our developers pride themselves on writing in «clean Markup». A great benefit of this way of working is that this makes your website highly visible in search engines, like Google, making it easier for potential costumers to find their way to your services.</p>
			<h3>Integration with your system</h3>
			<p>We can provide an information flow between your web or iOS (or other) applications and your central system. This is done with flexible parameters, managing who can retrieve what information on what moment. It also goes the other way: all the information that is collected through your web application, gets integrated and structured right away into your internal system.</p> 
			<p>We like a challenge. So if you have some crazy idea that’s never been done before, don’t hesitate talk to us about it.</p>
	</div>
</div>